{% extends 'base.html.twig' %}

{% block title %}{{ status_code }} - {{ status_text }}{% endblock %}

{% block body %}
    <h1>{{ status_code }} - {{ status_text }}</h1>
    <p>Une erreur s'est produite lors de la gestion de votre demande.</p>
{% endblock %}
